// Updating bulma variables

// 1. Updating bulma variables initial values
$family-sans-serif: $custom-font-family, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// 2. Updating bulma basic variables derived values
$primary: $text-main;
$primary-invert: $text-main-inverted;
// Same naming with our brand happens because our design (figma) tokens and Bulma have same variables.
$border: $border;
$text: $text-main;
$text-invert: $text-main-inverted;
$text-light: $text-sub;
$link: $link;
$shadow: $card-drop-shadow;

$body-background-color: $bg-sub;

$radius-large: 8px;

// Sizes
$size-1: 2.441rem;
$size-2: 1.953rem;
$size-3: 1.563rem;
$size-4: 1.25rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.8rem;

// 3. Bulma component customization
// tags
$tag-background-color: $bg-main;
$tag-radius: 8px;
// input
$input-shadow: none;
// box
$box-shadow: none;
$box-padding: 1rem;