// TODO: Split to different files if grow larger
// Tags.
.tag:not(body) {
    padding-left: 1em;
    padding-right: 1em;
}

a.tag {
    border: $border-transparent;
    transition: all $transition-speed;    
}
a.tag:hover {
    border: $border-value;
    text-decoration: none;
    color: $link;
}

.tags.are-medium .tag:not(.is-normal):not(.is-large) {
    font-size: 0.8rem;
}

// Titles using major third
.title.is-1, .is-size-1 {
    font-size: $size-1; //39.06px
    font-weight: $weight-semibold;
}
.title.is-2, .is-size-2 {
    font-size: $size-2; //31.25px
    font-weight: $weight-semibold;
}
.title.is-3, .is-size-3 {
    font-size: $size-3; //25.00px
    font-weight: $weight-semibold;
}
.title.is-4, .is-size-4 {
    font-size: $size-4; //20.00px
    font-weight: $weight-semibold;
}
.title.is-5, .is-size-5 {
    font-size: $size-5; //20.00px
    font-weight: normal;
}
.title.is-6, .is-size-6 {
    font-size: $size-6; //16px
    font-weight: $weight-semibold;
}
.is-para {
    font-size: $size-6; //16px
    font-weight: normal;
}
.is-para-small, .is-size-7 {
    font-size: $size-7; //12.80px
    font-weight: normal;
}
.is-title-uppercase {
    font-size: $size-7; //12.80px
    font-weight: $weight-semibold;
    text-transform: uppercase;
    color: $text-sub;
    margin-bottom: 8px;
}