<!-- Note cards -->
<div class="block note-cards">
    <h5 class="is-title-uppercase">All notes</h5>
    <div class="box">
        <h4 class="is-size-4">Market growth and status</h4>
        <div class="content is-small">
            <p>
                It’s better to be selective and read fewer, better articles than to be indiscriminate and read zilch...
            </p>
        </div>
    </div>
    <div class="box">
        <h4 class="is-size-4">Markdown vs HTML</h4>
        <div class="content is-small">
            <p>
                It’s better to be selective and read fewer, better articles than to be indiscriminate and read zilch...
            </p>
        </div>
    </div>
    <div class="box">
        <h4 class="is-size-4">Why Obsidian - Markdown advantages</h4>
        <div class="content is-small">
            <p>
                It’s better to be selective and read fewer, better articles than to be indiscriminate and read zilch...
            </p>
        </div>
    </div>
    <div class="box">
        <h4 class="is-size-4">Facebook Privacy Mark Zuckerberg Interview</h4>
        <div class="content is-small">
            <p>
                It’s better to be selective and read fewer, better articles than to be indiscriminate and read zilch...
            </p>
        </div>
    </div>
    <div class="box">
        <h4 class="is-size-4">Market Indexing</h4>
        <div class="content is-small">
            <p>
                It’s better to be selective and read fewer, better articles than to be indiscriminate and read zilch...
            </p>
        </div>
    </div>
    <div class="box">
        <h4 class="is-size-4">Mario: The story behind gaming's most famous..</h4>
        <div class="content is-small">
            <p>
                It’s better to be selective and read fewer, better articles than to be indiscriminate and read zilch...
            </p>
        </div>
    </div>
    <div class="box">
        <h4 class="is-size-4">Lots of inputs and a strong filter</h4>
        <div class="content is-small">
            <p>
                It’s better to be selective and read fewer, better articles than to be indiscriminate and read zilch...
            </p>
        </div>
    </div>
</div>