<!-- Search bar -->
<div class="block">
    <input class="input is-medium" type="text" placeholder="Search notes..">
    <!-- suggestions -->
    <ul class="search-suggestions content">
        <li><a>Market growth and status</a></li>
        <li><a>Markdown vs  HTML</a></li>
        <li><a>Why Obsidian - Markdown advantages</a></li>
        <li><a>Facebook Privacy Mark Zuckerberg Interview</a></li>
        <li><a>Market Indexing</a></li>
        <li><a>Mario: The story behind gaming's most famous..</a></li>
    </ul>
</div>

