<!-- Tags -->
<div class="block">
    <div class="tags are-medium">
        <a class="tag">All</a>
        <a class="tag">Medium</a>
        <a class="tag">Size</a>
        <a class="tag">One</a>
        <a class="tag">Two</a>
        <a class="tag">Three</a>
        <a class="tag">Four</a>
        <a class="tag">Five</a>
        <a class="tag">Six</a>
        <a class="tag">Seven</a>
        <a class="tag">Eight</a>
        <a class="tag">Nine</a>
        <a class="tag">Ten</a>
        <a class="tag">Eleven</a>
        <a class="tag">Twelve</a>
        <a class="tag">Thirteen</a>
        <a class="tag">Fourteen</a>
        <a class="tag">Fifteen</a>
        <a class="tag">Sixteen</a>
        <a class="tag">Seventeen</a>
        <a class="tag">Eighteen</a>
        <a class="tag">Nineteen</a>
        <a class="tag">Twenty</a>
    </div>
    </div>